In [20]:
## Relevant modules.
import pandas as pd
import os

In [2]:
## Reading file.
file = 'data/data_panel.csv'
data_panel = pd.read_csv(file, header=0)
print(data_panel.head(), '\n')
print(data_panel.info())

   doc_code  spec_code                       spec_es  \
0  16449291         22  anestesiologia y reanimacion
1  31865019         22  anestesiologia y reanimacion
2   8682278         22  anestesiologia y reanimacion
3  19188542        120                   cardiologia
4  70115939        120                   cardiologia

                            spec_en  year  n_visits  n_surgeries  n_patients  \
0  anesthesiology and resuscitation  2008        59            1          67
1  anesthesiology and resuscitation  2008        85            2          89
2  anesthesiology and resuscitation  2008         6            4           6
3                        cardiology  2008        24            3          24
4                        cardiology  2008       429          104         430

   c_visit  c_surgery
0    21.69     205.85
1    21.69     205.85
2    21.69     205.85
3    29.51     209.02
4    29.51     209.02

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8304 entries, 0 to 8303
Data columns (total 10 columns):
doc_code       8304 non-null int64
spec_code      8304 non-null int64
spec_es        8304 non-null object
spec_en        8294 non-null object
year           8304 non-null int64
n_visits       8304 non-null int64
n_surgeries    8304 non-null int64
n_patients     8304 non-null int64
c_visit        8288 non-null float64
c_surgery      8292 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 648.8+ KB
None

In [13]:
## Issue 1: errors with spec_es or spec_code.
filter_01 = data_panel['spec_en'].isnull()
print(data_panel[filter_01])

      doc_code  spec_code                                   spec_es spec_en  \
792   71578770        342                 ginecologia laparoscopica     NaN
2370  71578770        342                 ginecologia laparoscopica     NaN
3986  71578770        342                 ginecologia laparoscopica     NaN
4840  80418242        992                 ortopedia y traumatologia     NaN
5656  71578770        342                 ginecologia laparoscopica     NaN
6744  73146094        139  ciurgia de la mama y tum. de tejidos bla     NaN
7393  70563663        342                 ginecologia laparoscopica     NaN
7394  71578770        342                 ginecologia laparoscopica     NaN
7395  79148518        342                 ginecologia laparoscopica     NaN
7986  12547744        516                 ortopedia y traumatologia     NaN

      year  n_visits  n_surgeries  n_patients  c_visit  c_surgery
792   2008        84            7          74      NaN        NaN
2370  2009        68           11          74      NaN        NaN
3986  2010        57           34          85      NaN        NaN
4840  2010       150           22          88      NaN        NaN
5656  2011        53           38          97      NaN        NaN
6744  2012       158           11         129      NaN        NaN
7393  2012        33            5          26      NaN        NaN
7394  2012         3           19          30      NaN        NaN
7395  2012         2            1           2      NaN        NaN
7986  2012        39            4          24      NaN        NaN

In [16]:
## Issue 2: no information about costs.
filter_02 = data_panel['c_visit'].isnull()
filter_03 = data_panel['c_surgery'].isnull()
print(data_panel[~filter_01 & (filter_02 | filter_03)])

      doc_code  spec_code                       spec_es  \
3188  16449291         22  anestesiologia y reanimacion
3189   8682278         22  anestesiologia y reanimacion
4847  15349090         22  anestesiologia y reanimacion
4848  31988075         22  anestesiologia y reanimacion
4849  39779019         22  anestesiologia y reanimacion
4850   8693061         22  anestesiologia y reanimacion

                               spec_en  year  n_visits  n_surgeries  \
3188  anesthesiology and resuscitation  2010        84            1
3189  anesthesiology and resuscitation  2010        10            8
4847  anesthesiology and resuscitation  2011        22            3
4848  anesthesiology and resuscitation  2011        37            1
4849  anesthesiology and resuscitation  2011         5            1
4850  anesthesiology and resuscitation  2011         6            3

      n_patients  c_visit  c_surgery
3188          90      NaN        NaN
3189          10      NaN        NaN
4847          31      NaN     324.77
4848          43      NaN     324.77
4849           5      NaN     324.77
4850           8      NaN     324.77

In [22]:
## Saving data_panel_final without issue 1: spec_es or spec_code errors.
data_panel_final = data_panel[~filter_01]
print(data_panel_final.info(),'\n')
## Saving data_panel_final as csv to data folder.
if os.path.exists('data/data_panel_final.csv'):
    print('data_panel_final.csv already exists')
elif os.path.exists('data'):
    file_out = 'data/data_panel_final.csv'
    data_panel_final.to_csv(path_or_buf=file_out, index=False)
else:
    os.mkdir('data')
    file_out = 'data/data_panel_final.csv'
    data_panel_final.to_csv(path_or_buf=file_out, index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8294 entries, 0 to 8303
Data columns (total 10 columns):
doc_code       8294 non-null int64
spec_code      8294 non-null int64
spec_es        8294 non-null object
spec_en        8294 non-null object
year           8294 non-null int64
n_visits       8294 non-null int64
n_surgeries    8294 non-null int64
n_patients     8294 non-null int64
c_visit        8288 non-null float64
c_surgery      8292 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 712.8+ KB
None

data_panel_final.csv already exists